
@import '../../../../styles/variables.scss';
@import '../../../../styles/slot-rings.scss';
@import '../../../../styles/buildings.scss';


#main-container{
  box-sizing: border-box;
  max-width: $max-width;
}

:host{ 
  @extend #center-content; flex-direction: row; 
  max-width: $max-width;
  
  display: flex;
  flex-direction: column;
}



.buildings-four-plus-one-at-bottom{
  @extend #start-content,#main-container,#wrap-row ;
}

.four-columns-layout{
  @extend #wrap-row ;
  display: flex;
  box-sizing: border-box;
  width: $max-width; 
}

.one-row-at-bottom{
  @extend #wrap-row, #start-content ; 
  align-items: center;
  flex-wrap: wrap-reverse;
}

// .game-bank{
//   box-sizing: border-box;
//   @extend #center-content;
//   width: calc(($base-unit *4) + $base-margin*6);
//   height: calc(($base-unit + $base-margin)*2);
//   font-size: $base-font*2;
//   color: gray;
//   background-color: rgba(220, 220, 220, 0.646);
// //border: $base-border solid black;
//   margin-top: -$base-unit*2 -$base-margin*3 ;
// }

.bank-text{
  transform: translateY(calc($base-unit/1.7)) translateX(- calc( $base-unit/2.5));
}

.building-price{
  font-size: $base-font+2px;
}

.building-count-badge{
  box-sizing: border-box;
  @extend #center-content;
  position: relative;

  bottom: calc($base-unit/1.5);
  left: calc($base-margin*2);
  float: right;
  border-radius: calc($base-radius*4) 0px 0px calc($base-radius*4);

  width: calc($base-unit/2);
  height: calc($base-unit/2.5);


  border: $base-border solid rgb(0, 0, 0);
  background-color: burlywood;
  z-index: 3;

  font-size: ($base-font*1.4);
}

.building-multiplier{
  box-sizing: border-box;
  color: $building-vp-color;
  font-weight: 900;
  font-size: $base-font;
}

.building-number{
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.603);
  font-weight: 900;
}

.colonist-slot{
  box-sizing: border-box;
  @extend #center-content;
  width: calc( $base-unit/2.2);
  height: calc( $base-unit/2.2);
  margin-left: calc($base-unit/15);

  border: black $base-border solid;
  border-radius: 50%;

  background-color: white;

  color: rgba(161, 161, 161, 0.443);
  font-size: calc($base-font*1.5);
  font-weight: 900;
  z-index: 2;
}

.quarry-discount-display{
  box-sizing: border-box;
  @extend #center-content;

  border: $base-border solid black;
  width: calc(($base-unit + $base-margin)*2);
  height: $base-unit;

  background-color: rgb(0, 0, 0);
  margin: $base-margin;

  background-image: url(../../../../../assets/textures/cartographer.png);
  background-size: 200px;
  background-position: center;
}

.quarry-stick-together{
  box-sizing: border-box;
  @extend #center-content;
  width: fit-content;
  height: fit-content;
}

.quarry-discount-single{
  box-sizing: border-box;
  @extend #center-content;
  height: $base-unit;
  width: calc($base-unit/2);

  background-image: url(../../../../../assets/goods-icons/quarry.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.example-list {
  box-sizing: border-box;
  @extend #center-content;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.cdk-drag-preview {
  font-family: 'MyFont', sans-serif;
  box-sizing: border-box;
  border-radius: 0.1rem;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
  border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); 
}


.display-none{
  display: none;
}

@media only screen and (max-width: 480px) {
  #main-container{
    box-sizing: border-box;
    max-width: calc($max-width/2);
    background-color: $test-color;
  }
 
  
// .game-bank{
//   margin: $base-margin;
// }

}
