<app-utility-drop/>
<app-scroll-asist class="scroll-asist" class="only-mobile"/>

<div class="buildings-four-plus-one-at-bottom">
  <div class="four-columns-layout">


      <div  *ngFor="let buildingList of [this.buildings1, this.buildings2, this.buildings3, this.buildings4],let i = index"
        id="buildings"
        cdkDropList
        cdkDropListSortingDisabled
        [cdkDropListData]="buildingList"
        cdkDropListConnectedTo="myBuildings"
        class="example-list">
    
        <div class="quarry-discount-display">
          <div class="quarry-stick-together">
            <div class="quarry-discount-single" *ngFor="let quarry of this.gameService.numSequence(i+1)">
            </div>
          </div>
        </div>
          
        <div  
        class="{{this.stylingService.getBuildingClasses(building)}}"
          *ngFor="let building of buildingList"
          [cdkDragData]="building"
          [cdkDragStartDelay]="this.buildingDragDelay"
          [cdkDragDisabled]="this.checkBuildingDraggable(building)"
          cdkDrag
          >

          <div class="building-card-frame">
            <div class="{{this.stylingService.getBuildingArtClasses(building)}}"></div>
            <div class="top-building-card"> 
              <div class="building-name">{{this.gameService.getBuildingType(building)?.displayName}}</div>
              <div class="building-victory-score">{{this.gameService.getBuildingType(building)?.victoryScore}}</div> 
            </div>  
            <div class="bottom-building-card">
              <div class="{{this.stylingService.getBuildingSlotClasses(building)}}" *ngFor="let slot of building?.slots; let i=index">
                <div class="building-price" *ngIf="i == 0 && !slot.isOccupied">{{this.gameService.getBuildingType(building)?.price}}</div>
              </div>
            </div>
          </div>
          
    
          <div class="building-count-badge" *ngIf="(building?.quantity != 1 && building?.quantity != 0)">
            <div class="building-multiplier">X</div>
            <div class="building-number">{{building?.quantity}}</div>
            </div>
    
        </div>
      </div>
    
  </div>

  <!-- <div class="game-bank">
    <div class="bank-text"> bank of san juan</div>
  </div> -->

</div>