<div class="example-list">
  
  <div
    id="exposedPlantations"
    cdkDropList
    cdkDropListSortingDisabled
    [cdkDropListData]="this.exposedPlantations"
    cdkDropListConnectedTo="myPlantations"
    class="example-list"
    *ngIf="this.exposedPlantations.length != 0"
    >

    <div
      *ngFor="let plantation of this.exposedPlantations"
      class="plantation color{{this.gameService.getPlantationType(plantation)?.color}}"
      [cdkDragData]="plantation"
      [cdkDragDisabled]="this.disablePlantationInteractionCheck()"
      cdkDrag >
    
      <div class="top-plantation-card"> 
        <div class="plantation-name">{{this.gameService.getPlantationType(plantation)?.displayName}}</div>
      </div>  
      <div class="bottom-plantation-card">
        <div class="colonist-slot"></div>
        <div class="plantation-art" [ngClass]="this.gameService.getPlantationType(plantation)?.displayName"></div>
      </div>  
      
    </div>

    <div
    *ngIf="this.gs.quarryCount > 0"
    class="plantation color{{this.gameService.goodTypes[5].color}}"
    [cdkDragData]="5"
    [cdkDragDisabled]="this.disableQuarryInteractionCheck()"
    cdkDrag >
  
    <div class="top-plantation-card"> 
      <div class="plantation-name">{{this.gameService.goodTypes[5].displayName}}</div>
    </div>  
    <div class="bottom-plantation-card">
      <div class="colonist-slot"></div>
      <div class="plantation-art" [ngClass]="this.gameService.goodTypes[5].displayName"></div>
    </div>  
    <div class="plantation-count-badge">
      <div class="plantation-multiplier">X</div>
      <div class="plantation-number">{{this.gs.quarryCount}}</div>
      </div>
      
  </div>

  <div
  *ngIf="this.gs.plantations.length - this.exposedPlantations.length > 0"
  class="plantation color{{this.gameService.goodTypes[6].color}}"
  [cdkDragData]="6"
  [cdkDragDisabled]="this.disableUpSideDownInteractionCheck()"
  cdkDrag >

  <div class="top-plantation-card"> 
    <div class="plantation-name"></div>
  </div>  
  <div class="bottom-plantation-card">
    <div class="plantation-art"></div>
  </div>  
  <div class="plantation-count-badge">
    <div class="plantation-number">{{this.gs.plantations.length - this.exposedPlantations.length}}</div>
    </div>

  </div>
    
  </div>
</div>

