<div class="ship-collection"> 

    <div class="trading-house-card">
    <div class="ship-capacity">{{ 4 }}</div>
    <div class="ship-count">{{ this.deserializeTradeHouse(this.tradeHouse.goods).length }}</div>

    <div class="good-buttons-collection">
        <div class="empty-good-slot trading-house-slot" *ngFor="let good of this.deserializeTradeHouse(this.tradeHouse.goods) ; let i=index">
        <div class="good-button" class="{{good.displayName+'-barrel'}}"></div>
        </div>
    </div>
    </div>



    <app-cargo-ship 
    *ngFor="let ship of this.cargoShips; 
    let i=index" [shipIndex]="i" [cargoShip]="ship">
    </app-cargo-ship>


</div>
