<div class="goods-display">

  <div class="vertical-pair"  *ngFor="let good of getSortedGoodButtons(this.myGoods)">
    <div class="button-label">{{this.gameService.getPlayerGoodType(good)?.displayName}}</div>
  <div class="good-and-number {{this.highlightService.getGoodHighlight(good.type)}}"
  (click)="this.onClickGood(good); this.selectionService.selectGoodForBlackMarket(good.type)">

  <div class="good-button {{this.gameService.getPlayerGoodType(good)?.displayName}}-barrel">
    <div class="good-count">{{good.quantity}}</div>
  </div>
  </div>
</div>
</div>   

<div class="goods-display">

  <div class="vertical-pair {{this.gameService.gs.value.isNoblesExpansion ?'':'offline'}}">
    <div class="button-label">nobles</div>
    <div class="good-and-number">
      <div class="noble-chip">
        <div class="chip-number colonist-number">0</div>
      </div>
    </div>
  </div>
          
  <div class="vertical-pair">
    <div class="button-label">colonists</div>
    <div class="good-and-number {{this.highlightService.getColonistSupplyHighlight()}}" (click)="this.selectionService.toggleSupplyColonistForBlackMarket()">
      <div class="colonist-chip">
        <div class="chip-number colonist-number">{{this.myColonists}}</div>
      </div>
    </div>
  </div>

    <div class="vertical-pair">
      <div class="button-label">doubloons</div>
    <div class="good-and-number">
      <div class="doubloon">
        <div class="chip-number">{{this.myDoubloons}}</div>
      </div>
    </div>
  </div>

    <div class="vertical-pair">
      <div class="button-label">building points</div>
    <div class="good-and-number">
      <div class="building-point">
        <div class="chip-number">{{ this.gameService.calculateBuildingPoints(player) }}</div>
      </div>
    </div>
  </div>
   
  <div class="vertical-pair">
    <div class="button-label">victory chips</div>
  <div class="good-and-number {{this.highlightService.getVictoryPointsHighlight()}}" (click)=" this.selectionService.toggleVictoryPointSellForBlackMarket()">
    <div class="victory-point-chip">
      <div class="chip-number victory-number">{{ this.myVictoryPoints}}</div>
    </div>
  </div>
</div>

</div>

<div class="goods-display">



  
  <div class="vertical-pair">
  <div class="governor-or-turn-button purple {{this.stylingService.getGovernorOrTurnClassesAndText(this.player.index)[0]}}" >
    {{this.stylingService.getGovernorOrTurnClassesAndText(this.gameService.playerIndex)[1]}}
  </div>
</div>

  
  <div class="vertical-pair">
  <div class="end-turn-button purple {{this.getEndTurnHighlightRule()}}" (click)="endTurn()">
    <div > End Turn </div>
  </div>
</div>

</div>






