// @import '../../../../styles/slot-rings.scss';
@import '../../../../styles/variables.scss';

:host{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
 flex-wrap: wrap;
 width: calc($max-width*2);

 pointer-events: none;
}

.end-turn-button{
  pointer-events: none;
}

.governor-or-turn-button{
  pointer-events: none;
}


.board-collection{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc($max-width*2);
}

.player-frame{     //scaling-margin-fix
    margin:0;
    
}


$pattern-color: rgb(216, 200, 253);

.mobile-pattern{
  background-color: white;
}

.desktop-pattern{
 background-color: $pattern-color;
}


@media only screen and (min-width:600px) and (max-width: 1260px) {
  .desktop-pattern{
    background-color: white;
   }
   
   .mobile-pattern{
     background-color: $pattern-color;
   }

}

 
//mobile query
@media only screen and (max-width: 600px) { 

  .player-frame{     //scaling-margin-fix
    margin: - calc(($base-unit*6 + $base-margin*12)/4);
    margin-left: - calc(($base-unit*8 + $base-margin*16)/4);
    margin-right: - calc(($base-unit*8 + $base-margin*16)/4);
    transform: scale(0.5);
}

  .board-collection{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc($max-width/2);
}

.building-list-bg{
    box-sizing: border-box;
    height: calc($max-width/2.665);
    width: calc($max-width);
  }

 
  .desktop-pattern{
    background-color: white;
   }
   
   .mobile-pattern{
     background-color: $pattern-color;
   }
   


}

