<div class="board-collection">
  <!-- <app-full-size class="only-desktop"/> -->

<div  class="player-frame" *ngFor="let player of this.players; let i = index"   >
  <!-- the part below put in the part above to remove self from opponent display -->
  <!-- [ngClass]="(this.gameService.playerIndex == player.index) ? 'display-none': ''" -->

  <!-- {{player.index == this.gameService.playerIndex?'only-mobile':''}} -->
<div class="player-board" *ngIf="player.index != this.gameService.playerIndex || this.players.length%2 == 0">

<div class="plantation-list-bg">
  <div id="myPlantations" class="plantation-list">

    <div *ngFor="let plantation of player.plantations">
      <div class="{{this.stylingService.getPlantationClasses(plantation)}}" *ngIf="plantation.good != 7"> 
          <div class="top-plantation-card"><div class="plantation-name">{{this.gameService.getPlantationType(plantation)?.displayName}}</div></div>  
        <div class="bottom-plantation-card">
          <div class="plantation-art" class="{{this.gameService.getPlantationType(plantation)?.displayName}}"></div>
          <div class="{{this.stylingService.getPlantationSlotClasses(plantation)}}">  
            <div class="colonist" *ngIf="plantation.slot?.isOccupied"></div>
          </div>
          <div  class="build-order" *ngIf="this.gameService.debugOptions">{{plantation.buildOrder}}</div>
        </div>
      </div>
  
      <div *ngIf="plantation.good == 7"
      class="plantation color{{this.gameService.goodTypes[7].color}} forest">
      <div class="top-plantation-card"> 
        <div class="plantation-name">{{this.gameService.goodTypes[7].displayName}}</div>
      </div>  
      <div class="bottom-plantation-card">
      </div>  
    </div> 
    </div>

</div>
</div>
  
 <div class="board-nest">

  <div class="goods-display">

    <div class="vertical-pair"  *ngFor="let good of this.getSortedPlayerGoodButtons(player)">
      <div class="button-label">{{this.gameService.getPlayerGoodType(good)?.displayName}}</div>
    <div class="good-and-number">
  
    <div class="good-button {{this.gameService.getPlayerGoodType(good)?.displayName}}-barrel">
      <div class="good-count">{{(this.gameService.storedGoodTypes[0]==good.type)?1:good.quantity}}</div>
    </div>
    </div>
  </div>
  </div>   
  
  <div class="goods-display">
  
    <div class="vertical-pair {{this.gameService.gs.value.isNoblesExpansion ?'':'offline'}}">
      <div class="button-label">nobles</div>
      <div class="good-and-number">
        <div class="noble-chip">
          <div class="chip-number colonist-number">0</div>
        </div>
      </div>
    </div>
            
    <div class="vertical-pair">
      <div class="button-label">colonists</div>
      <div class="good-and-number">
        <div class="colonist-chip">
          <div class="chip-number colonist-number">{{player.colonists}}</div>
        </div>
      </div>
    </div>
  
      <div class="vertical-pair">
        <div class="button-label">doubloons</div>
      <div class="good-and-number">
        <div class="doubloon">
          <div class="chip-number">{{player.doubloons}}</div>
        </div>
      </div>
    </div>
  
      <div class="vertical-pair">
        <div class="button-label">building points</div>
      <div class="good-and-number">
        <div class="">
          <div class="chip-number">{{ 0 }}</div>
        </div>
      </div>
    </div>
     
    <div class="vertical-pair">
      <div class="button-label">victory chips</div>
    <div class="good-and-number">
      <div class="victory-point-chip">
        <div class="chip-number victory-number">{{player.victoryPoints}}</div>
      </div>
    </div>
  </div>
  
  </div>
  
  <div class="goods-display">
  
  
  
    <div class="vertical-pair">
    <div class="governor-or-turn-button purple {{this.stylingService.getGovernorOrTurnClassesAndText(player.index)[0]}}">
      {{this.stylingService.getGovernorOrTurnClassesAndText(player.index)[1]}}
      </div>
    </div>
  
      <div class="vertical-pair">
    <div class="end-turn-button blue">
      <div > {{ player.index == this.gameService.playerIndex ? "You": ("player " + (player.index+1 )) }}</div>
    </div>
  </div>
  
  </div>

</div>  



<div class="building-list-bg">
  <div id="myBuildingsDisabled"  *ngFor="let list of this.buildingsMatrixes[i]"
   class="building-list">

  <div class="{{this.stylingService.getBuildingClasses(building)}}" *ngFor="let building of list">
      
        <div class="top-building-card"> 
          <div class="building-name">{{this.gameService.getBuildingType(building)?.displayName}}</div>
          <div class="building-victory-score">
            {{this.gameService.getBuildingType(building)?.victoryScore}}
          </div> 
        </div>  
        <div class="bottom-building-card">
          <div class="{{this.stylingService.getBuildingSlotClasses(building)}}"
          style="outline-width: 1px;"
          *ngFor="let slot of building.slots; let i=index"
          >
             <div class="colonist" *ngIf="slot.isOccupied"></div>
            <!-- <div class="building-price" *ngIf="i == 0 && !slot.isOccupied">{{this.gameService.getBuildingType(building)?.price}}</div> -->
          </div>
          <div *ngIf="this.gameService.debugOptions" class="build-order build-order-{{this.gameService.getBuildingType(building)?.size}}" >{{building.buildOrder}}</div>
        </div>

      </div>
    </div>
  </div>

</div>
</div>

</div>