@import '../../../../styles/variables.scss';

:host{
    @extend #center-content;
    display: flex;
    flex-direction: row;

    
    max-width: 100%;
    width: 100%;
    pointer-events: none;

    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    
    align-items: center;
    justify-content: center;

    z-index: 7;
}



.example-list {
  box-sizing: border-box;
  @extend #center-content;

  margin-bottom:  calc( -1 * ($base-unit + $base-margin * 2));

  width: calc($max-width/2);
  height: calc($base-unit + $base-margin * 2) ;

  background-color: transparent;
  color: transparent;
  pointer-events: all;

  
  transition: 0.3s;
}


.drop-prompt-building{
  position: absolute;

  box-sizing: border-box;
  @extend #center-content ;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.prompt-collection{
  box-sizing: border-box;
  @extend #center-content ;
  flex-direction: column;
}

.cdk-drop-list-receiving{
  background-color: yellow;
  color: rgb(0, 0, 0);

}

.cdk-drop-list-dragging{
  background-color: green;
  color: white;
  
}


@media only screen and (min-width: 480px) {
  
  .example-list{
      width: calc($max-width - 2 * $base-margin);
      margin-bottom:  calc( -1 * ($base-unit + $base-margin * 2));
  }
}