
@import '../../../../styles/variables.scss';

:host{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc($max-width*2);
}


.end-turn-button{
  height: calc($base-unit/2);
}

.left{
  border-radius: $base-radius 0px 0px $base-radius ;
  transform: translateX(2px) ;
}
.right{
  border-radius: 0px $base-radius  $base-radius 0px  ;
  transform: translateX(-2px) ;
}

  

  //mobile 
  @media only screen and (max-width: 600px) {

    .end-turn-button{
      height: calc($base-unit/2);
      width: calc($max-width/4 - $base-margin*2);
    }

  }


  @media only screen and (min-width:600px) and (max-width: 1260px) {

    .end-turn-button{
      height: calc($base-unit/2);
      width: calc($max-width/5 - $base-margin*2);
    }

    .goods-display{
      flex-direction: column;
    }
    
    .left{
      border-radius: $base-radius  $base-radius 0px 0px ;
      transform: translateY(2px) ;
    }
    .right{
      border-radius: 0px 0px $base-radius  $base-radius  ;
      transform: translateY(-2px) ;
    }
  }