

   <div class="board-nest" *ngFor="let player of this.players">
<!--   
    <div class="goods-display">
  
      <div class="vertical-pair"  *ngFor="let good of this.getSortedPlayerGoodButtons(player)">
        <div class="button-label">{{this.gameService.getPlayerGoodType(good)?.displayName}}</div>
      <div class="good-and-number">
    
      <div class="good-button {{this.gameService.getPlayerGoodType(good)?.displayName}}-barrel">
        <div class="good-count">{{(this.gameService.storedGoodTypes[0]==good.type)?1:good.quantity}}</div>
      </div>
      </div>
    </div>
    </div>   
    
    <div class="goods-display">
    
      <div class="vertical-pair">
        <div class="button-label">nobles</div>
        <div class="good-and-number">
          <div class="noble-chip">
            <div class="chip-number colonist-number">1</div>
          </div>
        </div>
      </div>
              
      <div class="vertical-pair">
        <div class="button-label">colonists</div>
        <div class="good-and-number">
          <div class="colonist-chip">
            <div class="chip-number colonist-number">{{player.colonists}}</div>
          </div>
        </div>
      </div>
    
        <div class="vertical-pair">
          <div class="button-label">doubloons</div>
        <div class="good-and-number">
          <div class="doubloon">
            <div class="chip-number">{{player.doubloons}}</div>
          </div>
        </div>
      </div>
    
        <div class="vertical-pair">
          <div class="button-label">building points</div>
        <div class="good-and-number">
          <div class="">
            <div class="chip-number">{{ 0 }}</div>
          </div>
        </div>
      </div>
       
      <div class="vertical-pair">
        <div class="button-label">victory chips</div>
      <div class="good-and-number">
        <div class="victory-point-chip">
          <div class="chip-number victory-number">{{player.victoryPoints}}</div>
        </div>
      </div>
    </div>
    
    </div>
     -->
    <div class="goods-display">
    
    
    
      <div class="vertical-pair">
      <div class="end-turn-button"  [ngStyle]="{'background-color': player.index == this.gameService.gs.value.governorIndex ? (player.index == this.gameService.gs.value.currentPlayerIndex ? 'rgb(42, 113, 21)' : 'rgb(198, 56, 56)') : (player.index == this.gameService.gs.value.currentPlayerIndex ? 'rgb(42, 113, 21)' : '')}">
        <div > {{player.index == this.gameService.gs.value.governorIndex ? "Governor": (player.index == this.gameService.gs.value.currentPlayerIndex ? "Turn":"")}}</div>
        </div>
      </div>
    
        <div class="vertical-pair">
      <div class="end-turn-button player-name">
        <div > {{ player.index == this.gameService.playerIndex ? "You": ("player " + (player.index+1 )) }}</div>
      </div>
    </div>
    
    </div>
  
  </div>  
  
  