

<div class="player-board">

  <!-- <div>
    <div class="board-nest only-mobile">
     <app-my-controls></app-my-controls>
    </div>  
  </div> -->
  <div class="wrap-reverse">
<div class="plantation-list-bg">
  <div id="myPlantations" class="plantation-list"
       cdkDropList
       cdkDropListSortingDisabled
       [cdkDropListData]="this.myPlantations"
       cdkDropListConnectedTo="exposedPlantations"
       (cdkDropListDropped)="this.dropPlantation($event)"> 

       <div *ngFor="let plantation of this.myPlantations">
    <div class="{{this.stylingService.getPlantationClasses(plantation)}}" *ngIf="plantation.good != 7"> 
        <div class="top-plantation-card"><div class="plantation-name">{{this.gameService.getPlantationType(plantation)?.displayName}}</div></div>  
      <div class="bottom-plantation-card">
        <div class="plantation-art" class="{{this.gameService.getPlantationType(plantation)?.displayName}}"></div>
        <div class="{{this.stylingService.getPlantationSlotClasses(plantation)}} click-cursor" (click)="this.onSlotClick(plantation.slot)">  
          <div class="{{this.stylingService.getColonistClass(plantation.slot) + this.highlightService.getColonistHighlight(plantation.slot.id)}}"></div>         
        </div>
        <div  class="build-order" *ngIf="this.gameService.debugOptions">{{plantation.buildOrder}}</div>
      </div>
    </div>

    <div *ngIf="plantation.good == 7"
    class="plantation color{{this.gameService.goodTypes[7].color}} forest">
    <div class="top-plantation-card"> 
      <div class="plantation-name">{{this.gameService.goodTypes[7].displayName}}</div>
    </div>  
    <div class="bottom-plantation-card">
    </div>  
  </div> 
  </div>

</div>

</div>


 <div class="board-nest click-cursor">
  <app-my-controls></app-my-controls>
 </div>  
</div>

  <div class="building-list-bg">
  <div id="myBuildingsDisabled" *ngFor="let list of this.buildingsMatrix"
   class="building-list"
   cdkDropList
   cdkDropListSortingDisabled
   cdkDropListOrientation="vertical"
   [cdkDropListData]="list">

  <div class="{{this.stylingService.getBuildingClasses(building,true)}} " *ngFor="let building of list">
    <div class="{{this.stylingService.getBuildingArtClasses(building)}}"></div>
        <div class="top-building-card" (click)="this.selectionService.toggleBuildingEffect(building)"> 
          <div class="building-name">{{this.gameService.getBuildingType(building)?.displayName}}</div>
          <div class="building-victory-score">
            {{this.gameService.getBuildingType(building)?.victoryScore}}
          </div> 
        </div>  
        <div class="bottom-building-card">
          <div class="{{this.stylingService.getBuildingSlotClasses(building)}} click-cursor" *ngFor="let slot of this.sortSlots(building?.slots!); let i=index" (click)="this.onSlotClick(slot,building);">
            <!-- {{slot.id.toString().charAt(slot.id.toString().length - 1)}} -->
             <div class="{{this.stylingService.getColonistClass(slot) + this.highlightService.getColonistHighlight(slot.id)}}"></div>
            <!-- <div class="building-price" *ngIf="i == 0 && !slot.isOccupied">{{this.gameService.getBuildingType(building)?.price}}</div> -->
          </div>
          <div *ngIf="this.gameService.debugOptions" class="build-order build-order-{{this.gameService.getBuildingType(building)?.size}}" >{{building.buildOrder}}</div>
         </div>
       </div>
    </div>
  </div>
</div>
