@import '../../../../styles/variables.scss';
@import '../../../../styles/buildings.scss';

:host{ 
  @extend #center-content; flex-direction: row; 
  max-width: 100%;
}

.player-board{
  @extend #main-container, #center-content,#wrap-row ;
  max-width: calc($max-width);
}

.wrap-reverse{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: fit-content;
  height: fit-content;
}

.board-nest{
  box-sizing: border-box;
  @extend #center-content, #wrap-row ;
  align-items: flex-start;
  width: calc($max-width/2);
}

.user-profile-frame{
  @extend #center-content ;
  box-sizing: border-box;
  flex-direction: column;
  width: calc($max-width/2 - $base-margin*2);;
  height: calc($base-unit/3.6);
  margin: $base-margin;
  border-radius: $base-radius;
  background-color: rgb(98, 118, 216);
  box-shadow: $base-shadow;
}


.example-list {
  @extend #start-content, #wrap-row ;
  max-width: $max-width;
}

.building-list-bg{
  box-sizing: border-box;
  height: calc($max-width/2.665 * 2);
  width: calc($max-width/2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(../../../../../assets/svgs/building-tile.svg);
  background-position: 0px 0px;
  background-size: calc(($base-unit + $base-margin*2) * 2);
  background-repeat: repeat;
  background-color: white;
  border-radius: $base-radius;
}

.building-list{
  box-sizing: border-box;
  @extend .example-list, #start-content ;
  flex-direction: column;
  height: calc($max-width/2.665);
  width: calc($max-width/4);
}


.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.cdk-drop-list-receiving{
  background-color: green;
  transition: 0.5s;
}

.cdk-drop-list-dragging{
  background-color: green;
}

  
//Mobile query
@media only screen and (min-width: 480px) {
 
  .only-desktop{
    display: flex;
    max-width: 100%;
  }

  #main-container{
    box-sizing: border-box;
    max-width: calc($max-width);
    background-color: $test-color;
    align-items: flex-start;
    justify-content: flex-start;
}

.building-list-bg{
  box-sizing: border-box;
  height: calc($max-width/2.665);
  width: $max-width;
}


.only-mobile{
  display: none;
}
  
}

