@import url(../../../../styles/colors.scss);
@import url(../../../../styles/plantations.scss);
@import url(../../../../styles/barrels.scss);

#center-content{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'MyFont', sans-serif;
}

#start-content{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: 'MyFont', sans-serif;
}

#wrap-row{
  flex-direction: row;
  flex-wrap: wrap;
}

#cartographer{
  background-image: url(../../../../../assets/textures/cartographer.png);
  background-size: 200px;
  background-position: center;
}

$base-unit: 75px;
$base-font: 15px;
$base-border: 1px;
$base-margin: 1px;
$base-radius: 5px;
$test-color:red;

:host{
    @extend #center-content ;
    flex-direction: column;
    max-width: 100%;
}

.player-board{
  @extend #start-content,#wrap-row ;

  width: calc(($base-unit*2 + $base-margin*3 + $base-border*3)*4);

  margin: $base-margin;
  border: $base-border solid black;
}


.example-list {
  @extend #wrap-row;
  border-radius: $base-radius;
  width: fit-content;
  height: fit-content;
  z-index: 2;
}


.plantation-list{
  @extend .example-list, #start-content ;
  //width: calc(($base-unit + $base-margin + $base-border)*2);
  //height: calc($base-unit*2);
}

.plantation{
  height: calc($base-unit/2);
  width: calc($base-unit/2);
  font-size: calc($base-unit/1.5);
  border: calc($base-border/3) black solid;
  margin: calc($base-margin/3);
  z-index: 2;
  }


.building-list{
  @extend .example-list ,#start-content ;
}


.building{
  width: $base-unit;
  height: calc($base-unit/2);
  font-size: calc($base-font/2);
  border: calc($base-border/3) black solid;
  margin: calc($base-margin/3);
  
  z-index: 2;
}


.top-building-card{
@extend #center-content;
justify-content: flex-start;
width: $base-unit;
height: calc($base-unit/6);
}

.building-name{
width: $base-unit;
font-size: calc($base-font/1.5);  
white-space: nowrap;
overflow: hidden;
}

.building-victory-score{
color: rgb(255, 0, 0);
width: calc($base-unit/8);
}

.bottom-building-card{
@extend #center-content ;
justify-content: flex-start;
height: calc($base-unit*2/6);
}


.top-plantation-card{
  @extend #center-content;
  justify-content: flex-start;
  height: calc($base-unit/6);
  width: calc($base-unit/2);
}

.plantation-name{
  white-space: nowrap;
  overflow: hidden;
  font-size: calc($base-font/1.5);
}

.bottom-plantation-card{
  @extend #center-content;
  position: relative;
  justify-content: flex-start;
  height: calc($base-unit*2/6);
}

.plantation-art{
  @extend #center-content ;
  position: absolute;
  width:calc($base-unit*2/6);
  height: calc($base-unit*2.5/6);
  left: calc($base-unit/6 - $base-border/2);
  bottom: 0px;

  //border: $base-border solid black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.colonist-slot{
  @extend #center-content;
  width: calc($base-unit/4);
  height: calc($base-unit/4);
  margin-left: calc($base-unit/30);
  border: calc($base-border/2) solid black;
  border-radius: 50%;
  background-color: white;
  z-index: 3;
  }

.colonist{
  position: absolute;
  height: calc($base-unit/4.5);
  width: calc($base-unit/4.5);

  border-radius: 50%;

  background-image: url(../../../../../assets/svgs/colonist.svg);
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
}

