.corn-barrel{
    background-image: url(../../assets/svgs/barrels/cornBarrel.svg);
}

.indigo-barrel{
    background-image: url(../../assets/svgs/barrels/indigoBarrel.svg);
}

.sugar-barrel{
    background-image: url(../../assets/svgs/barrels/sugarBarrel.svg);
}

.tobacco-barrel{
    background-image: url(../../assets/svgs/barrels/tobaccoBarrel.svg);
}

.coffee-barrel{
    background-image: url(../../assets/svgs/barrels/coffeeBarrel.svg);
}
