@import './variables.scss';

.isDrafted{
    filter: grayscale(100%) sepia(50%) hue-rotate(90deg);
}

.isBlocked{
    filter: grayscale(100%) sepia(50%) hue-rotate(-90deg);
}
  
.soldOut{
    filter: saturate(0);
}


.building{
    box-sizing: border-box;
    width: calc(($base-unit + $base-margin)*2);
    height: calc($base-unit);
    font-size: calc($base-font);
    border: calc($base-border) black solid;
    margin: calc($base-margin);
    z-index: 2;
}

.building-size-2{
    height: calc(($base-unit + $base-margin)*2);    
}

.top-building-card{
    box-sizing: border-box;
    @extend #center-content;
    justify-content: flex-start;
    width: calc($base-unit*2);
    height: calc($base-unit/3);
}

.building-name{
    box-sizing: border-box;
    width: calc($base-unit*2);
    font-size: calc($base-font);
    margin-left: $base-margin*4;  
    white-space: nowrap;
    overflow: hidden;
}

.building-victory-score{
    box-sizing: border-box;
    width: calc($base-unit/4);
    font-size: $base-font*1.5;
    position: relative;
    font-weight: 900;
    right: 5px;
    top: 2px;
    color: $building-vp-color;
    text-shadow: $building-vp-shadow;
}


.bottom-building-card{
    @extend #center-content ;
    box-sizing: border-box;
    justify-content: flex-start;
    height: calc($base-unit*2/3);
}


.market{
    background-image: url(../../assets/svgs/weights.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.small-warehouse{
    background-image: url(../../assets/svgs/smallWarehouse.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.large-warehouse{
    background-image: url(../../assets/svgs/largeWarehouseTigth.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.office{
    background-image: url(../../assets/svgs/office.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.hospice{
    background-image: url(../../assets/svgs/hospice.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}