
.isDrafted{
    filter: grayscale(100%) sepia(50%) hue-rotate(90deg);
}

.isBlocked{
    filter: grayscale(100%) sepia(50%) hue-rotate(-90deg);
}
  
.soldOut{
    filter: saturate(0);
}



.market{
    background-image: url(../../assets/svgs/weights.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.small-warehouse{
    background-image: url(../../assets/svgs/smallWarehouse.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.large-warehouse{
    background-image: url(../../assets/svgs/largeWarehouseTigth.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.office{
    background-image: url(../../assets/svgs/office.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.hospice{
    background-image: url(../../assets/svgs/hospice.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}