
.corn{
    background-image: url(../../assets/goods-icons/corn.svg);
    }
    
    .indigo{
    background-image: url(../../assets/goods-icons/indigo.svg);
    }
    
    .sugar{
        background-image: url(../../assets/goods-icons/sugar.svg);
    }
    
    .tobacco{
        background-image: url(../../assets/goods-icons/tobacco.svg);
    }
    
    .coffee{
        background-image: url(../../assets/goods-icons/coffee.svg);
    }
    
    .quarry{
        background-image: url(../../assets/goods-icons/quarry.svg);
    }