@import './variables.scss';

  .expansion-0{
    outline: solid wheat 1.5px;
  }
  .expansion-1{
   outline: solid rgb(89, 76, 236) 1.5px;;
  }
  .expansion-2{
    outline: solid rgb(245, 52, 52) 1.5px;
  }

  .corn-ring{
    outline: solid rgb(71, 190, 64) 1.5px;
  }
  .indigo-ring{
    outline: solid wheat  1.5px;
  }
  .sugar-ring{
    outline: solid  rgb(0, 145, 255) 1.5px;
  }
  .tobacco-ring{
    outline: solid rgb(180, 99, 99) 1.5px;
  }
  .coffee-ring{
    outline: solid wheat 1.5px;
  }
  
  .quarry-ring{
    outline: solid wheat 1.5px;
  }

  .large-building-ring{
    transform: translateY($base-unit);
  }