$base-unit: 78px;
$base-font: 15px;
$base-border: 1px;
$base-margin: 1px;
$base-radius: 5px;
$test-color: transparent;
$max-width: calc(($base-unit + $base-margin*2) * 8);
$highlight-color:rgb(7, 110, 9);
$highlight-color2:rgb(12, 6, 51);
$highlight-color3:rgb(203, 3, 3);

$base-shadow: 1px 1px rgb(69, 80, 135);
$highlight-shadow: 1px 1px rgb(5, 70, 5);
$highlight-shadow2: 1px 1px  rgb(12, 6, 51);
$highlight-shadow3: 1px 1px  rgb(121, 1, 1);

$building-vp-color: rgba(255, 59, 59, 0.893);
$building-vp-shadow: 1px 0.5px rgb(12, 6, 51);;




.purple{
  background-color: rgb(98, 118, 216);
  box-shadow: $base-shadow;
  color: white;
}


.red{
  background-color: $highlight-color3;
  box-shadow: $highlight-shadow3;
  color: white;
}

.red:active{
  background-color: rgb(150, 9, 9);
}

.yellow{
  background-color: rgb(214, 214, 0);
  box-shadow: 1px 1px rgb(165, 165, 0);
  color: rgb(0, 0, 0);
}
.yellow:active{
  background-color: rgb(182, 182, 1);
}

.green{
  background-color: $highlight-color;
  box-shadow: $highlight-shadow;
  color: white;
}

.green:active{
  background-color: rgb(0, 93, 0);
}


.blue{
  background-color: rgb(24, 13, 95);
  box-shadow: 1px 1px rgb(12, 6, 51);
}

.blue:active{
  background-color: rgb(18, 10, 74);
}



.highlight-button{
  background-color: $highlight-color;
  box-shadow: $highlight-shadow;
}

.highlight-colonist{
  background-color: $highlight-color;
  box-shadow: $highlight-shadow;
}

.highlight-green{
  box-sizing: border-box;
  border: solid 3px $highlight-color;
  box-shadow: $highlight-shadow;
}

.colonist-highlight-green{
  background-color: rgb(7, 110, 9);
  outline: solid 2px rgb(5, 70, 5);
  border-radius: 50%;
}

.highlight-yellow{
  box-sizing: border-box;
  border: solid 3px rgb(244, 244, 3);
  box-shadow: 1px 1px rgb(165, 165, 0);
}

.highlight-blue{
  box-sizing: border-box;
  border: solid 3px rgb(24, 13, 95);
  box-shadow: 1px 1px rgb(12, 6, 51);
}

.highlight-red{
  box-sizing: border-box;
  border: solid 3px $highlight-color3;
  box-shadow: $highlight-shadow3;
}

.offline{
  filter: saturate(0);  
}

.bubble{
  position: absolute;
   transform: translateY(-10px) translateX(-15px);
}


#center-content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'MyFont', sans-serif;
  }
  
  #start-content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'MyFont', sans-serif;
  }
  
  #wrap-row{
    flex-direction: row;
    flex-wrap: wrap;
  }

  
#end-content{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'MyFont', sans-serif;
  }

#fit-content{
  width: fit-content;
  height: fit-content;
}

  #main-container{
      box-sizing: border-box;
      max-width: $max-width;
      border-radius: $base-radius;
      background-color: $test-color;
  }

  
  .only-desktop{
    display: flex;
  }
  
  
  .only-mobile{
    display:none;
  }

  @media only screen and (max-width: 600px) {


    .only-mobile{
      display:flex;
    }

    .only-desktop{
      display: none;
    }
}

