$base-unit: 78px;
$base-font: 15px;
$base-border: 1px;
$base-margin: 1px;
$base-radius: 5px;
$test-color: transparent;
$max-width: calc(($base-unit + $base-margin*2) * 8);
$highlight-color:rgb(42, 113, 21);
$highlight-color2:gold;
$highlight-color3:rgb(203, 3, 3);

$base-shadow: 1px 1px rgb(69, 80, 135);
$highlight-shadow: 1px 1px rgb(1, 92, 1);
$highlight-shadow2: 1px 1px  rgb(121, 1, 1);

$building-vp-color: rgba(255, 59, 59, 0.893);
$building-vp-shadow: 1px 0.5px black;


#center-content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'MyFont', sans-serif;
  }
  
  #start-content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'MyFont', sans-serif;
  }
  
  #wrap-row{
    flex-direction: row;
    flex-wrap: wrap;
  }

  
#end-content{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'MyFont', sans-serif;
  }

#fit-content{
  width: fit-content;
  height: fit-content;
}

  #main-container{
      box-sizing: border-box;
      max-width: $max-width;
      border-radius: $base-radius;
      background-color: $test-color;
  }