@import "../../styles/variables.scss";

$base-unit: 78px;
$base-font: 15px;
$base-border: 1px;
$base-margin: 1px;
$base-radius: 5px;
$test-color:transparent;


:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    max-width: $max-width*2;

    margin-bottom: 20px;
}

.sky-decoration{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgb(194, 237, 255) 0%, rgb(45, 170, 220) 100%);
  flex-direction: column;
}


.width-limiter{
  
  width: 100%;
  max-width: $max-width*2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.ports-of-rico{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'MyFont';
    font-size: 10vw;
    height: 100px;
}

.ships-and-roles{
  flex-direction: row;
   flex-wrap: wrap;
    max-width: 1280px;
}

.scroll-asist{
  
    position: -webkit-sticky;
    position:sticky;
    top: 0px;

    z-index: 5;
  }

  .land-transition-decoration{
    height: calc($base-unit/3);
    background-image: url(../../../assets/svgs/transition-to-land.svg);
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
  
    margin-bottom: -1px;
    width: 100%;
    max-width: $max-width*2;
    }
  
    .board-separator{
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;

      align-self: center;
      height: calc($base-unit/2); 
      width: calc($max-width*2 - $base-margin*2);
      color: white;

      margin: $base-margin;
      margin-right: 2px;
      margin-bottom: 2px;

      text-shadow: 1px 0.5px rgba(0, 0, 0, 0.317), 0.5px 1px rgba(0, 0, 0, 0.295);
      

      border-radius: $base-radius;
    }

    .board-separator:active{
      margin: $base-margin;
      margin-top: 1px;
      margin-left: 1px;
    }


    .opponents{
      background-color: rgb(198, 56, 56);
      box-shadow: $highlight-shadow3;
    }

    .opponents:active{
      background-color: rgb(195, 29, 29);
      margin-bottom: $base-margin;
      margin-right: 0px;
      margin-top: 2px;
      margin-left: 2px; 
      box-shadow: -0px -0px ;
    }

    .own{
      background-color:rgb(42, 113, 21);
      box-shadow: $highlight-shadow;
    }

    .own:active{
      background-color:rgb(30, 82, 15);
      margin-bottom: $base-margin;
      margin-right: 0px;
      margin-top: 2px;
      margin-left: 2px; 
      box-shadow: -0px -0px ;
    }

  .score-board{
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    z-index: 2000;
  }

  .last-governor{
    width: 100%;
    border-radius: $base-radius;
  }
 

  //mobile 
  @media only screen and (max-width: 600px) and (orientation: portrait) {

    .land-transition-decoration{
      width: calc($max-width/2);
    }

   :host{
    max-width: calc($max-width/2);
   }

    .width-limiter{
      max-width: calc($max-width/2);
    }

    .board-separator{
      width: calc(($max-width)/2 - $base-margin * 3);
    }

  }


  @media only screen and (min-width:600px) and (max-width: 1260px) {

    .land-transition-decoration{
      width: $max-width;
    }

   :host{
    max-width: $max-width;
   }

    .width-limiter{
      max-width: $max-width;
    }

    .board-separator{
      width: calc(($max-width) - $base-margin * 3);
    }

    .ships-and-roles{
      flex-direction: row;
       flex-wrap: wrap-reverse;
        max-width: 1280px;
    }
  }