














<div class="width-limiter">



<div class="sky-decoration only-mobile">
<app-roles id="roles" class="only-mobile"/>
<app-cargo-ships id="cargo-ships" class="only-mobile"/>
<div class="land-transition-decoration"></div>
</div>

<div class="sky-decoration only-desktop">
<div class="ships-and-roles only-desktop">
<app-cargo-ships id="cargo-ships" class="only-desktop"/>
<app-roles id="roles" class="only-desktop"/>
</div>
<div class="land-transition-decoration"></div>
</div>

<div *ngIf="this.gameService.gs.value.lastGovernor" class="last-governor">LAST GOVERNOR</div>

<app-my-controls class="only-mobile" *ngIf="checkForCaptainOrPostCaptain()" />

<app-progress-bar/>

<app-supply-display id="supply" class="only-mobile"/>
<app-plantations id="plantations" class="only-mobile"/>


<div class="board-separator {{this.displayPlayerBoard ? 'own':'opponents'}}"
 (click)="switchBoards()">
  Click to switch Boards
</div>

<div *ngIf="displayPlayerBoard">
<app-plantations id="plantations" class="only-desktop"/>
<app-supply-display id="supply" class="only-desktop"/>
<app-full-size id="player-board"/>
</div>

<app-buildings id="buildings" *ngIf="displayPlayerBoard"/> 

<app-opponent-boards *ngIf="!displayPlayerBoard" class="only-desktop"/>
<app-opponent-boards *ngIf="!displayPlayerBoard" class="only-mobile"/>


</div>

<div class="score-board"><app-score-board/></div>


