
<div class="{{this.stylingService.getCargoShipClasses(shipIndex)}}" *ngIf="this.showShip() && shipIndex != 4 && shipIndex != 3" >
    <div class="{{this.highlightService.getCargoShipHighlights(shipIndex)}}"></div>
    <div class="ship-capacity" >{{ cargoShip.capacity }}</div>
    <div class="ship-count" >{{ cargoShip.load }}</div>
    <div [ngClass]="(canShipFlag() ?'ship-ladder-green-flag':'ship-ladder-red-flag')"></div>


    <div class="cargo-ship-button click-cursor"  (click)="selectShip()"></div>

    <div class="good-buttons-collection shipped-goods-collection" >
        <div class="empty-good-slot" *ngFor="let good of this.gameService.numSequence(cargoShip.load);">
        <div class="good-button  good-on-board" class="{{this.gameService.goodTypes[cargoShip.type].displayName+'-barrel'}}"></div>
        </div>
        </div>

</div>

<div class="{{this.stylingService.getCargoShipClasses(shipIndex)}}" *ngIf="this.showShip() && shipIndex == 3">
    <div class="{{this.highlightService.getCargoShipHighlights(shipIndex)}}"></div>
    <div class="ship-count" style="transform: translateX(+85px) translateY(-40px);">{{ this.selectionService.goodsOnWharf.length }}</div>

    <div class="cargo-ship-button click-cursor"  (click)="selectShip()"></div>

    <div class="good-buttons-collection shipped-goods-collection-wharf" >
        <div class="empty-good-slot" *ngFor="let good of this.selectionService.getWharfGoodTypeArray();">
            <div class="good-button  good-on-board-wharf" class="{{good.displayName+'-barrel'}}"></div>
        </div>
    </div>

    <div class="ship-name">wharf</div>
</div>

<div class="{{this.stylingService.getCargoShipClasses(shipIndex)}}" *ngIf="this.showShip() && shipIndex == 4">
    <div class="{{this.highlightService.getCargoShipHighlights(shipIndex)}}"></div>
    <div class="ship-count" style="transform: translateX(+85px) translateY(-40px);">{{ this.selectionService.selectedGoodsSmallWharf.length }}</div>

    <div class="cargo-ship-button click-cursor"  (click)="selectShip()"></div>

    <div class="good-buttons-collection shipped-goods-collection-wharf">
        <div class="empty-good-slot" *ngFor="let good of this.selectionService.getSmallWharfGoodTypeArray();">
        <div class="good-button  good-on-board-wharf" class="{{good.displayName+'-barrel'}}"></div>
        </div>
    </div>

    <div class="ship-name">small wharf</div>
</div>