@import '../../../../styles/variables.scss';

:host{
    display: flex;
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;

    z-index: 5;
    pointer-events: none;
}

.invisible-scroll-asist{
    position: absolute;
    width: calc($base-unit/4);
    height: 100vh; 
    background-color: transparent;
    pointer-events: all;
  }
  
  .left-bound{
    left: 0;
  }
  
  .right-bound{
    right: 0;
  }
  
  .middle-left{
      left: 50%;
  }
  
  .middle-right{
      right: 50%;
  }
  